@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Chakra Petch", sans-serif;
}
body{
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
}
main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo{
    margin-top: 5rem;
    height: auto;
}
.titulo{
    margin: 1.5rem 0 0 3.8rem;
    color: #0A3871;
    font-size: 2.2rem;
}
.encriptar-desencriptar{
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 1rem;
}
.texto{
    margin: 4rem 2.5rem 0 10rem;
    font-size: 2rem;
    border: none;
    color: #0A3871;
    outline: none;
    width: 42rem;
    height: 21rem;
    background-color: #E5E5E5;
    resize: none;
}
.texto::placeholder{
    color: #0A3871;
    font-weight: 600;
}
.section-encriptar-desencriptar{
    margin-left: 10rem;
}
.advertencia{
    display: flex;
}
.signo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.1rem;
    height: 1.1rem;
    color: #FFFFFF;
    background-color: #65747D;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.condicion{
    color: #495057;
    font-size: 0.8rem;
    font-weight: normal;
    margin-bottom: 1rem;
}
.div-boton{
    display: flex;
    gap: 1.5rem;
}
.boton, .copiar{
    border-radius: 1.5rem;
    width: 20.5rem;
    height: 4.2rem;
    cursor: pointer;
    border: 1px solid #0A3871;
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 1rem;
    font-weight: normal;
}
.boton:hover, .copiar:hover{
    transition: all .3s ease;
    color: #D8DFE8;
    background-color: #0A3871;
}
.fondo-mensaje-desencriptado{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    width: 25rem;
    height: 39rem;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 2rem;
    margin: 1.5rem 2.5rem 1rem 0;
    box-sizing: border-box;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .2));
}
.img{
    height: 19rem;
    width: 21rem;
    margin: 0 2rem 0 2rem;
}
.mensaje-no-encontrado{
    margin: 0 2rem 0 2rem;
    color: #343A40;
    font-size: 1.5rem;
}
.mensaje-no-encontrado .no-strong{
    margin-top: 1rem;
    font-size: 1rem;
}
.nuevo-texto{
    color: #495057;
    margin: 2rem 2rem 1rem 2rem;
    height: 32rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
    resize: none;
    background-color: #FFFFFF;
}
.copiar{
    width: 21rem;
    margin: 0 2rem 2rem 2rem;
}
.aparecer{
    display: none;
}
footer{
    display: flex;
    align-items: center;
    color: #D8DFE8;
    width: 100%;
    justify-content: center;
    bottom: 0;
    background-color: #0A3871;
    height: 2.5rem;
}
a{
    text-decoration: none;
    margin: 0 0.5rem 0 1rem;
    color: #D8DFE8;
    cursor: pointer;
}
.link{
    cursor: pointer;
}
a:hover, .link:hover{
    color: #65747D;
}
.copyright{
    margin-left: 1rem;
}

@media (max-width: 1240px){
    body{
        height: 100%;
    }
    main{
        flex-direction: column;
    }
    .titulo{
        margin: 4.5rem 0 7.2rem 2.5rem;
    }
    .texto{
        margin: 0 0 0 0;
        width: 43rem;
        height: 36rem;
    }
    .texto, .section-encriptar-desencriptar{
        margin-left: 2.5rem;
    }
    .boton{
        width: 20.7rem;
        height: 4.2rem;
    }
    .fondo-mensaje-desencriptado{
        width: auto;
        max-width: 43rem;
        min-height: 8.3rem;
        height: auto;
        margin: 4rem 2.5rem 2.5rem 2.5rem;
    }
    .nuevo-texto{
        width: 39rem;
        max-height: 11.2rem;
    }
    .copiar{
        width: 39rem;
        height: 4.1rem;
    }
    .img{
        display: none;
    }
    
}
@media (max-width: 730px){
    body{
        height: 100vh;
    }
    .titulo{
        width: auto;
        margin: 0;
        padding: 1.5rem 0 1.5rem 1rem;
    }
    .texto{
        margin: 3.5rem 0 0 1rem;
        width: 21.7rem;
        height: 18rem;
    }
    .section-encriptar-desencriptar{
        margin: 0 1rem 0 1rem;
    }
    .div-boton{
        display: flex;
        flex-direction: column;
    }
    .boton{
        width: 21.4rem;
        height: 4.2rem;
    }
    .fondo-mensaje-desencriptado{
        width: 20.4rem;
        height: auto;
        min-height: 11.6rem;
        max-height: 37.1rem;
        margin: 4rem 1.5rem 1.5rem 1.5rem;
    }
    .nuevo-texto{
        width: 17.4rem;
        height: 27.1rem;
    }
    .copiar{
        width: 17.4rem;
        height: 4.1rem;
    }
    .link{
        display: none;
    }
}